@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);



















#content5-1 .mbr-header .mbr-header__text {
  text-align: center;
  color: #414040;
  font-family: 'Oxygen', sans-serif;
}
#content5-1 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1 .mbr-article {
  color: #fff;
}
#header3-3 H3 {
  text-align: center;
  color: #e39939;
  font-family: 'Oxygen', sans-serif;
}
#header3-3 P {
  text-align: center;
}
#header3-3 B {
  color: #414040;
}
#content5-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #414040;
  font-family: 'Oxygen', sans-serif;
}
#content5-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-article {
  color: #fff;
}
#header3-6 H3 {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #e39939;
}
#header3-6 P {
  text-align: center;
}
#content4-8 .mbr-section__col .mbr-header__text {
  font-family: 'Oxygen', sans-serif;
  color: #e39939;
}
#header3-9 H3 {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  color: #e39939;
}
#header3-9 P {
  text-align: center;
}
#content5-b .mbr-header .mbr-header__text {
  text-align: center;
  color: #414040;
  font-family: 'Oxygen', sans-serif;
}
#content5-b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-b .mbr-article {
  color: #fff;
}
#content5-b .mbr-article P {
  color: #e39939;
}
#content5-b .mbr-article H4 {
  color: #e39939;
}
#content4-c .mbr-section__col .mbr-header__text {
  font-family: 'Oxygen', sans-serif;
  color: #e39939;
}
#header3-d H3 {
  color: #e39939;
  font-family: 'Oxygen', sans-serif;
}
#content5-e .mbr-header .mbr-header__text {
  text-align: center;
  color: #414040;
  font-family: 'Oxygen', sans-serif;
}
#content5-e .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-e .mbr-article {
  color: #fff;
}
#content5-e .mbr-article H4 {
  color: #e39939;
}
#content5-e .mbr-article P {
  color: #414040;
}
#header3-f H3 {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #e39939;
}
#header3-j H3 {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #e39939;
}
#content4-k .mbr-section__col .mbr-header__text {
  font-family: 'Oxygen', sans-serif;
}
#testimonials1-l .mbr-section__header {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#testimonials1-l .mbr-reviews__text P {
  color: #777777;
}
#content4-o .mbr-section__col .mbr-header__text {
  font-family: 'Oxygen', sans-serif;
  color: #e39939;
}
#content4-o .mbr-section-title .mbr-header__text {
  color: #252525;
  font-family: 'Oxygen', sans-serif;
}
#content4-o P {
  text-align: center;
}
#content4-q .mbr-section__col .mbr-header__text {
  font-family: 'Oxygen', sans-serif;
  color: #252525;
}
#content4-q P {
  text-align: center;
  color: #ffffff;
}
#header3-u H3 {
  text-align: center;
  color: #e39939;
  font-family: 'Oxygen', sans-serif;
}
#content5-t .mbr-header .mbr-header__text {
  text-align: left;
  color: #fff;
}
#content5-t .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-t .mbr-article {
  color: #fff;
}
#content5-t .mbr-article H4 {
  color: #252525;
}
#content5-v .mbr-header .mbr-header__text {
  text-align: left;
  color: #fff;
}
#content5-v .mbr-header .mbr-header__subtext {
  text-align: left;
  color: #fff;
}
#content5-v .mbr-article {
  color: #fff;
}
#content5-w .mbr-header .mbr-header__text {
  text-align: left;
  color: #fff;
}
#content5-w .mbr-header .mbr-header__subtext {
  text-align: left;
  color: #fff;
}
#content5-w .mbr-article {
  color: #fff;
}
#content5-x .mbr-header .mbr-header__text {
  text-align: left;
  color: #fff;
}
#content5-x .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-x .mbr-article {
  color: #fff;
}
#header3-z H3 {
  text-align: center;
  color: #e39939;
}
#header3-10 H3 {
  text-align: center;
}
#pricing-table1-12 .mbr-plan__details UL {
  text-align: left;
}
#testimonials1-13 .mbr-section__header {
  color: #e39939;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#image1-14 SMALL {
  text-align: center;
}
